{{#each DataPost as |DataPost|}}

    <h2 class="title"><a heref="/api/posts/{{DataPost.id}}">{{DataPost.title}}</a>
        <span>Posted by {{DataPost.user.username}} on {{format_date DataPost.date}}</span>
    </h2>
    <p class="message">{{DataPost.info}}</p>

{{/each}}