{{#each DataPost as |DataPost|}}

    <a href="/api/posts/{{DataPost.id}}"><h2 class="title">{{DataPost.title}}
        <span>Posted by {{DataPost.user.username}} on {{format_date DataPost.date}}</span>
    </h2></a>
    <p class="message">{{DataPost.info}}</p>

{{/each}}