<h2 class="title">{{DataPost.title}}
    <span>Posted by {{DataPost.user.username}} on {{format_date DataPost.date}}</span>
</h2>
<p class="message">{{DataPost.info}}</p>

{{#each DataPost.comments as | Data |}}
    <h2 class="title"></h2>
    <div class="message">
        <p>{{Data.content}}</p>
    <p> -{{Data.user.username}}, {{format_date Data.date}}</p>
    </div>
{{/each}}

<h2 class="title" id="comentNew"></h2>
<div class="message">
    <div class="comentTitle">
        Comment:<br>
        <textarea name="comment" rows="5" cols="30" id="coment"></textarea>
        <br>
        <button type="submit" class="comButton" data-id="{{DataPost.id}}">Submit</button>
    </div>
</div>

<script src="/js/script.js"></script>       
        