<h2 class="title">Edit Post</h2>
<div class="message">
    <div class="comentTitle">
        Title:<br>
        <input type="text" name="title" id="updateTitle" value="{{DataPost.title}}">
        <br><br>
        Content:<br>
        <textarea name="content" rows="5" cols="30" id="updateContent" >{{DataPost.info}}</textarea>
        <br>
        <input type="submit" class="comButton" value="Update Post" id="updatePost" data-id="{{DataPost.id}}">
        {{!-- <button type="submit" class="comButton" id="updatePost" data-id="{{DataPost.id}}">Update Post</button> --}}
        <br>
        <input type="submit" class="comButton" value="Delete" id="deletePost" data-id="{{DataPost.id}}">
        {{!-- <button type="submit" class="comButton" id="deletePost" data-id="{{DataPost.id}}">Delete</button> --}}
    </div>
</div>

<script src="/js/update.js"></script>